<h1>All Articles</h1>
<p>
  <%= link_to 'Create New Article', new_article_path %>
</p>
<ol>
  <% @articles.each do |article| %>
    <li>
      <h2><%= link_to article.title, article_path(article) %></h2>
      <p>
        <%= link_to "Edit(#{article.id})", edit_article_path(article) %>
      </p>
    </li>
  <% end %>
</ol>
